@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Quicksand', sans-serif;
}

main {
    flex: 1 0 auto;
}

a, h4, h5, .news {
    font-family: 'Roboto', sans-serif;
}

h2 {
    font-size: 2vw;
}

h4.size {
    font-size: 2vw;
}

h5.size {
    font-size: 3vw;
}

.size img {
    max-width: 24vw;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 999;
}

.score {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.filter-item:hover {
    cursor: pointer;
}

.filter-item.active {
    color: #00838f;
    font-weight: 700;
    border-bottom: 4px solid #00838f;
}

.top-margin {
    margin-top: 3vw;
}
.radius-right{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.radius-bottom{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.radius{
    border-radius: 10px;
    box-sizing: border-box;
    min-height: 150px;
 }
 .hoverable{
    cursor: pointer;
 }
 .match-title{
    padding: .4rem;
    border-color: 1px solid black;
     width: 30%;
     text-align: -webkit-center;
 }
 .match-title>img.home-match {
     width: auto !important;
    height: 8ch;
    display: block;
 }
 .detail-match {
    width: 40%;
    align-items: center;
    justify-content: center;
 }
 .detail-match>h1 {
    margin-top: 2rem;
    padding: 0px;
    line-height: 0%;
    font-weight: 700;
    font-size: 40px;
 }

@media screen and (max-width: 670px) {
    a.news {
        font-size: 8vw;
    }
    header {
        min-height: 500px;
    }
    h4 {
        font-size: 7vw;
    }
    h5.size {
        font-size: 8vw;
    }
    .info .horizontal {
        display: inline-block;
        position: relative;
    }
    .info .responsive-img img {
        width: 72vw;
    }
    h2 {
        font-size: 20px;
    }
    h4.size {
        font-size: 20px;
    }
    .size img {
        max-width: 48vw;
    }
    .news img{
        width: 55px;
    }
}

@media screen and (max-width: 360px) {
    a.news {
        font-size: 8vw;
    }
}